*.pyc
*tar.gz
*tar

/adaptiveUnet/data/**
/adaptiveUnet/_data/**

.vscode

# model weights
*.pth
*.pt

# images
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp  

# logs
*.log
*.txt
*.csv
*.json
*.yaml
*.yml 

# tensorboard logs
*.tfevents*

# dataset
diffusers/dataset/train
diffusers/dataset/val


# runs
diffusers/runs/

# samples
diffusers/samples/

*.gz
*-ubyte

